@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --text: var(--ctp-latte-text);
    --background: var(--ctp-latte-base);
    --accent: var(--ctp-latte-pink);
  }
  .dark {

    --text: var(--ctp-mocha-text);
    --background: var(--ctp-mocha-base);
    --accent: var(--ctp-mocha-pink);
  }
}
