
@import "@catppuccin/palette/css/catppuccin.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


/* inria-sans-latin-ext-700-normal */
@font-face {
  font-family: 'Inria Sans Bold';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(/fonts/inria-sans-latin-ext-700-normal.woff2) format('woff2'), url(/fonts/inria-sans-latin-ext-700-normal.woff) format('woff');
  unicode-range: U+0100-02BA,U+02BD-02C5,U+02C7-02CC,U+02CE-02D7,U+02DD-02FF,U+0304,U+0308,U+0329,U+1D00-1DBF,U+1E00-1E9F,U+1EF2-1EFF,U+2020,U+20A0-20AB,U+20AD-20C0,U+2113,U+2C60-2C7F,U+A720-A7FF;
}

/* inria-sans-latin-700-normal */
@font-face {
  font-family: 'Inria Sans Bold';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(/fonts/inria-sans-latin-700-normal.woff2) format('woff2'), url(/fonts/inria-sans-latin-700-normal.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}
/* inria-sans-latin-ext-400-normal */
@font-face {
  font-family: 'Inria Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(/fonts/inria-sans-latin-ext-400-normal.woff2) format('woff2'), url(/fonts/inria-sans-latin-ext-400-normal.woff) format('woff');
  unicode-range: U+0100-02BA,U+02BD-02C5,U+02C7-02CC,U+02CE-02D7,U+02DD-02FF,U+0304,U+0308,U+0329,U+1D00-1DBF,U+1E00-1E9F,U+1EF2-1EFF,U+2020,U+20A0-20AB,U+20AD-20C0,U+2113,U+2C60-2C7F,U+A720-A7FF;
}

/* inria-sans-latin-400-normal */
@font-face {
  font-family: 'Inria Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(/fonts/inria-sans-latin-400-normal.woff2) format('woff2'), url(/fonts/inria-sans-latin-400-normal.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}
/* inria-sans-latin-ext-300-normal */
@font-face {
  font-family: 'Inria Sans 300';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url(/fonts/inria-sans-latin-ext-300-normal.woff2) format('woff2'), url(/fonts/inria-sans-latin-ext-300-normal.woff) format('woff');
  unicode-range: U+0100-02BA,U+02BD-02C5,U+02C7-02CC,U+02CE-02D7,U+02DD-02FF,U+0304,U+0308,U+0329,U+1D00-1DBF,U+1E00-1E9F,U+1EF2-1EFF,U+2020,U+20A0-20AB,U+20AD-20C0,U+2113,U+2C60-2C7F,U+A720-A7FF;
}

/* inria-sans-latin-300-normal */
@font-face {
  font-family: 'Inria Sans 300';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url(/fonts/inria-sans-latin-300-normal.woff2) format('woff2'), url(/fonts/inria-sans-latin-300-normal.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

@layer base {
  :root {
    --rosewater: var(--ctp-latte-rosewater);
    --flamingo: var(--ctp-latte-flamingo);
    --pink: var(--ctp-latte-pink);
    --mauve: var(--ctp-latte-mauve);
    --red: var(--ctp-latte-red);
    --maroon: var(--ctp-latte-maroon);
    --peach: var(--ctp-latte-peach);
    --yellow: var(--ctp-latte-yellow);
    --green: var(--ctp-latte-green);
    --teal: var(--ctp-latte-teal);
    --sky: var(--ctp-latte-sky);
    --sapphire: var(--ctp-latte-sapphire);
    --blue: var(--ctp-latte-blue);
    --lavender: var(--ctp-latte-lavender);
    --text: var(--ctp-latte-text);
    --subtext1: var(--ctp-latte-subtext1);
    --subtext0: var(--ctp-latte-subtext0);
    --overlay2: var(--ctp-latte-overlay2);
    --overlay1: var(--ctp-latte-overlay1);
    --overlay0: var(--ctp-latte-overlay0);
    --surface2: var(--ctp-latte-surface2);
    --surface1: var(--ctp-latte-surface1);
    --surface0: var(--ctp-latte-surface0);
    --base: var(--ctp-latte-base);
    --background: var(--ctp-latte-base);
    --mantle: var(--ctp-latte-mantle);
    --crust: var(--ctp-latte-crust);
    --accent: var(--pink);
    --font-sans: 'Inria Sans', sans-serif;
    --font-bold: 'Inria Sans Bold', sans-serif;
    --font-light: 'Inria Sans 300', sans-serif;

    }
  .dark {
    --rosewater: var(--ctp-mocha-rosewater);
    --flamingo: var(--ctp-mocha-flamingo);
    --pink: var(--ctp-mocha-pink);
    --mauve: var(--ctp-mocha-mauve);
    --red: var(--ctp-mocha-red);
    --maroon: var(--ctp-mocha-maroon);
    --peach: var(--ctp-mocha-peach);
    --yellow: var(--ctp-mocha-yellow);
    --green: var(--ctp-mocha-green);
    --teal: var(--ctp-mocha-teal);
    --sky: var(--ctp-mocha-sky);
    --sapphire: var(--ctp-mocha-sapphire);
    --blue: var(--ctp-mocha-blue);
    --lavender: var(--ctp-mocha-lavender);
    --text: var(--ctp-mocha-text);
    --subtext1: var(--ctp-mocha-subtext1);
    --subtext0: var(--ctp-mocha-subtext0);
    --overlay2: var(--ctp-mocha-overlay2);
    --overlay1: var(--ctp-mocha-overlay1);
    --overlay0: var(--ctp-mocha-overlay0);
    --surface2: var(--ctp-mocha-surface2);
    --surface1: var(--ctp-mocha-surface1);
    --surface0: var(--ctp-mocha-surface0);
    --base: var(--ctp-mocha-base);
    --background: var(--ctp-mocha-base);
    --mantle: var(--ctp-mocha-mantle);
    --crust: var(--ctp-mocha-crust);
    --accent: var(--pink);
    --font-sans: 'Inria Sans', sans-serif;
    --font-bold: 'Inria Sans Bold', sans-serif;
    --font-light: 'Inria Sans 300', sans-serif;
    
  }
}
