@import "@catppuccin/palette/css/catppuccin.css";
@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  :root {
    --rosewater: var(--ctp-latte-rosewater);
    --flamingo: var(--ctp-latte-flamingo);
    --pink: var(--ctp-latte-pink);
    --mauve: var(--ctp-latte-mauve);
    --red: var(--ctp-latte-red);
    --maroon: var(--ctp-latte-maroon);
    --peach: var(--ctp-latte-peach);
    --yellow: var(--ctp-latte-yellow);
    --green: var(--ctp-latte-green);
    --teal: var(--ctp-latte-teal);
    --sky: var(--ctp-latte-sky);
    --sapphire: var(--ctp-latte-sapphire);
    --blue: var(--ctp-latte-blue);
    --lavender: var(--ctp-latte-lavender);
    --text: var(--ctp-latte-text);
    --subtext1: var(--ctp-latte-subtext1);
    --subtext0: var(--ctp-latte-subtext0);
    --overlay2: var(--ctp-latte-overlay2);
    --overlay1: var(--ctp-latte-overlay1);
    --overlay0: var(--ctp-latte-overlay0);
    --surface2: var(--ctp-latte-surface2);
    --surface1: var(--ctp-latte-surface1);
    --surface0: var(--ctp-latte-surface0);
    --base: var(--ctp-latte-base);
    --background: var(--ctop-latte-base);
    --mantle: var(--ctp-latte-mantle);
    --crust: var(--ctp-latte-crust);
    --accent: var(--pink);
    }
  .dark {
    --rosewater: var(--ctp-mocha-rosewater);
    --flamingo: var(--ctp-mocha-flamingo);
    --pink: var(--ctp-mocha-pink);
    --mauve: var(--ctp-mocha-mauve);
    --red: var(--ctp-mocha-red);
    --maroon: var(--ctp-mocha-maroon);
    --peach: var(--ctp-mocha-peach);
    --yellow: var(--ctp-mocha-yellow);
    --green: var(--ctp-mocha-green);
    --teal: var(--ctp-mocha-teal);
    --sky: var(--ctp-mocha-sky);
    --sapphire: var(--ctp-mocha-sapphire);
    --blue: var(--ctp-mocha-blue);
    --lavender: var(--ctp-mocha-lavender);
    --text: var(--ctp-mocha-text);
    --subtext1: var(--ctp-mocha-subtext1);
    --subtext0: var(--ctp-mocha-subtext0);
    --overlay2: var(--ctp-mocha-overlay2);
    --overlay1: var(--ctp-mocha-overlay1);
    --overlay0: var(--ctp-mocha-overlay0);
    --surface2: var(--ctp-mocha-surface2);
    --surface1: var(--ctp-mocha-surface1);
    --surface0: var(--ctp-mocha-surface0);
    --base: var(--ctp-mocha-base);
    --background: var(--ctp-mocha-base);
    --mantle: var(--ctp-mocha-mantle);
    --crust: var(--ctp-mocha-crust);
    --accent: var(--pink);
  }
}


/*
html {
    background-color: #f1f5f9;
    font-family: sans-serif;
  }
  
  body {
    margin: 0 auto;
    width: 100%;
    max-width: 80ch;
    padding: 1rem;
    line-height: 1.5;
  }
  
  * {
    box-sizing: border-box;
  }
  
  h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
  }
  /* nav styles *//*

  .hamburger {
    padding-right: 20px;
    cursor: pointer;
  }
  
  .hamburger .line {
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background-color: #ff9776;
  }

  .nav-links {
    width: 100%;
    top: 5rem;
    left: 48px;
    background-color: #ff9776;
    display: none;
    margin: 0;
  }
  */
  .nav-links a {
    display: block;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  /*
  .nav-links a:hover,
  .nav-links a:focus {
    background-color: #ff9776;
  }
  
  .expanded {
    display: unset;
  }
  
  @media screen and (min-width: 636px) {
    .nav-links {
      margin-left: 5em;
      display: block;
      position: static;
      width: auto;
      background: none;
    }
  
    .nav-links a {
      display: inline-block;
      padding: 15px 20px;
    }
  

    .hamburger {
        display: none;
      }

  }

  html.dark {
    background-color: #0d0950;
    color: #fff;
  }

  .dark .navlinks a {
    color: #fff;
  }
*/