---
import ShortLinks from '../components/ShortLinks.astro';
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "dynamitegus.au";
const PageColour = "text-mauve";

---
<BaseLayout pageTitle={pageTitle} PageColour={PageColour}>
    <p>Woah, you either found this on github or you found my new domain.</p>
    <p>Also if you are <ShortLinks PageColour={PageColour} LN="y124" LD="https://github.com/y124"/>, Helloooo, also you should fix your website.</p>
	<p>Ok ok thats it, it's<ShortLinks PageColour={PageColour} LN="Home" LD="/"/> time now.</p>
</BaseLayout>