---
const { title, url, description, pubDate, id } = Astro.props;

const dateOptions: object = {
	year: "numeric",
	month: "long",
	day: "numeric",
};

let formattedPublishDate = new Date(pubDate).toLocaleDateString("en-AU", dateOptions);

if (formattedPublishDate === "Invalid Date") {
    formattedPublishDate = "";
}

---
<a href={id} class="hover:text-subtext0 p-8 ">
    <div class="hover:bg-mantle hover:rounded-3xl p-6 active:bg-crust">
        

            <div class="text-4xl pb-3">{title}</div>
            <div class="text-sm py-4 text-overlay2">{formattedPublishDate}</div>
            <div>{description}</div>
            
        
    </div>
</a>


