---
const { title, url, description } = Astro.props;
---
<li class="ml-10 border-accent-500 border-solid border-4 rounded-lg"><a class="text-2xl" href={url}>{title}<p class="text-sm p-10">{description}</p></a></li>


