---
const { title, url, description, pubDate } = Astro.props;

const dateOptions: object = {
	year: "numeric",
	month: "long",
	day: "numeric",
};

const formattedPublishDate = new Date(pubDate).toLocaleDateString("en-US", dateOptions);
---
<a href={url} class="hover:text-subtext0 p-8">
    <div>
        <li>

            <div class="text-sm py-4 text-overlay2">{formattedPublishDate}</div>
            <div class="text-4xl pb-3">{title}</div>
            <div>{description}</div>
        </li>
    </div>
</a>


