<div class="grid grid-cols-2 gap-0">
<div></div><div class="bg-magenta text-magenta">womp</div>
<div></div><div class="bg-lime text-lime">womp</div>
  <div class="bg-ctp-rosewater      text-ctp-rosewater" >womp</div><div class="bg-rosewater" ></div>
  <div class="bg-ctp-flamingo       text-ctp-flamingo"  >womp</div><div class="bg-flamingo"  ></div>
  <div class="bg-ctp-pink           text-ctp-pink"      >womp</div><div class="bg-pink"      ></div>
  <div class="bg-ctp-mauve          text-ctp-mauve"     >womp</div><div class="bg-mauve"     ></div>
  <div class="bg-ctp-red            text-ctp-red"       >womp</div><div class="bg-red"       ></div>
  <div class="bg-ctp-maroon         text-ctp-maroon"    >womp</div><div class="bg-maroon"    ></div>
  <div class="bg-ctp-peach          text-ctp-peach"     >womp</div><div class="bg-peach"     ></div>
  <div class="bg-ctp-yellow         text-ctp-yellow"    >womp</div><div class="bg-yellow"    ></div>
  <div class="bg-ctp-green          text-ctp-green"     >womp</div><div class="bg-green"     ></div>
  <div class="bg-ctp-teal           text-ctp-teal"      >womp</div><div class="bg-teal"      ></div>
  <div class="bg-ctp-sky            text-ctp-sky"       >womp</div><div class="bg-sky"       ></div>
  <div class="bg-ctp-sapphire       text-ctp-sapphire"  >womp</div><div class="bg-sapphire"  ></div>
  <div class="bg-ctp-blue           text-ctp-blue"      >womp</div><div class="bg-blue"      ></div>
  <div class="bg-ctp-lavender       text-ctp-lavender"  >womp</div><div class="bg-lavender"  ></div>
  <div class="bg-ctp-text           text-ctp-text"      >womp</div><div class="bg-text"      ></div>
  <div class="bg-ctp-subtext1       text-ctp-subtext1"  >womp</div><div class="bg-subtext1"  ></div>
  <div class="bg-ctp-subtext0       text-ctp-subtext0"  >womp</div><div class="bg-subtext0"  ></div>
  <div class="bg-ctp-overlay2       text-ctp-overlay2"  >womp</div><div class="bg-overlay2"  ></div>
  <div class="bg-ctp-overlay1       text-ctp-overlay1"  >womp</div><div class="bg-overlay1"  ></div>
  <div class="bg-ctp-overlay0       text-ctp-overlay0"  >womp</div><div class="bg-overlay0"  ></div>
  <div class="bg-ctp-surface2       text-ctp-surface2"  >womp</div><div class="bg-surface2"  ></div>
  <div class="bg-ctp-surface1       text-ctp-surface1"  >womp</div><div class="bg-surface1"  ></div>
  <div class="bg-ctp-surface0       text-ctp-surface0"  >womp</div><div class="bg-surface0"  ></div>
  <div class="bg-ctp-base           text-ctp-base"      >womp</div><div class="bg-base"      ></div>
  <div class="bg-ctp-mantle         text-ctp-mantle"    >womp</div><div class="bg-mantle"    ></div>
  <div class="bg-ctp-crust          text-ctp-crust"     >womp</div><div class="bg-crust"     ></div>
</div>