---
import ThemeIcon from "./ThemeIcon.astro";
---
<div class="w-full top-20 left-12 bg-base text-text m-0">
    <ThemeIcon />
<a class="inline-block text-center py-2.5 px-4 no-underline text-lg font-bold uppercase hover:text-ctp-pink hover:bg-ctp-mantle hover:rounded-lg" href="/">Home</a>
<a class="inline-block text-center py-2.5 px-4 no-underline text-lg font-bold uppercase hover:text-ctp-pink hover:bg-ctp-mantle hover:rounded-lg" href="/about/">About</a>
<a class="inline-block text-center py-2.5 px-4 no-underline text-lg font-bold uppercase hover:text-ctp-pink hover:bg-ctp-mantle hover:rounded-lg" href="/blog/">Blog</a>
<a class="inline-block text-center py-2.5 px-4 no-underline text-lg font-bold uppercase hover:text-ctp-pink hover:bg-ctp-mantle hover:rounded-lg" href="/tags">Tags</a>
</div>