---
import ThemeIcon from "./ThemeIcon.astro";
import '@fontsource-variable/roboto-mono';
---
<div class="w-full top-20 left-12 bg-base text-base m-0 mt-4">
<a class="text-magenta hover:bg-magenta hover:text-base  lg:text-2xl hover:lg:text-2xl" href="/">[_Home__]</a>_
<a class="text-lime hover:bg-lime hover:text-base  lg:text-2xl hover:lg:text-2xl" href="/about/">[_About_]</a>_
<a class="text-peach hover:bg-peach hover:text-base  lg:text-2xl hover:lg:text-2xl" href="/blog/">[_Blog__]</a>
</div>

<style>
a {
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 800;
}
</style>