---
import ThemeIcon from "./ThemeIcon.astro";
import '@fontsource/ubuntu-mono';
---
<div class="w-full top-20 left-12 bg-base text-base m-0 mt-4">
<a class="text-magenta text-xl lg:text-4xl hover:lg:text-4xl bg-left-bottom bg-gradient-to-r from-magenta to-magenta bg-[length:1rem_2px] bg-no-repeat hover:bg-[length:100%_2px] transition-all duration-350 ease-out" href="/">Home</a><span class="text-xl lg:text-3xl text-crust"> [==] </span>
<a class="text-lime    text-xl lg:text-4xl hover:lg:text-4xl bg-left-bottom bg-gradient-to-r from-lime to-lime       bg-[length:1rem_2px] bg-no-repeat hover:bg-[length:100%_2px] transition-all duration-350 ease-out" href="/about/">About</a><span class="text-xl lg:text-3xl text-crust"> [==] </span>
<a class="text-magenta text-xl lg:text-4xl hover:lg:text-4xl bg-left-bottom bg-gradient-to-r from-magenta to-magenta bg-[length:1rem_2px] bg-no-repeat hover:bg-[length:100%_2px] transition-all duration-350 ease-out" href="/blog/">Blog</a  >
</div>

<style>
a {
  font-family: 'Ubuntu Mono', monospace;
  font-weight: 700;
}
</style>