---
---
<div class="w-full top-20 left-12 bg-background-50 text-text-950 m-0 border-background-900 border-b-2">
<a class="inline-block text-center py-2.5 px-4 no-underline text-lg font-bold uppercase" href="/">Home</a>
<a class="inline-block text-center py-2.5 px-4 no-underline text-lg font-bold uppercase" href="/about/">About</a>
<a class="inline-block text-center py-2.5 px-4 no-underline text-lg font-bold uppercase" href="/blog/">Blog</a>
<a class="inline-block text-center py-2.5 px-4 no-underline text-lg font-bold uppercase" href="/tags">Tags</a>
</div>