---
import ThemeIcon from "./ThemeIcon.astro";
---
<div class="w-full top-20 left-12 bg-background-50 text-text-950 m-0 border-background-900 border-b-2">
    <ThemeIcon />
<a class="inline-block text-center py-2.5 px-4 no-underline text-lg font-bold uppercase hover:text-accent-500 hover:bg-accent-100 hover:rounded-lg" href="/">Home</a>
<a class="inline-block text-center py-2.5 px-4 no-underline text-lg font-bold uppercase hover:text-accent-500 hover:bg-accent-100 hover:rounded-lg" href="/about/">About</a>
<a class="inline-block text-center py-2.5 px-4 no-underline text-lg font-bold uppercase hover:text-accent-500 hover:bg-accent-100 hover:rounded-lg" href="/blog/">Blog</a>
<a class="inline-block text-center py-2.5 px-4 no-underline text-lg font-bold uppercase hover:text-accent-500 hover:bg-accent-100 hover:rounded-lg" href="/tags">Tags</a>
</div>