---
import ThemeIcon from "./ThemeIcon.astro";
---
<div class="w-full top-20 left-12 bg-base text-base m-0 mt-4">
    <ThemeIcon />
<a class="bg-mauve    hover:text-mauve    hover:bg-mantle hover:rounded-full rounded-full inline-block text-center py-2.5 px-4 mr-3 no-underline text-lg font-bold uppercase" href="/">Home</a>
<a class="bg-maroon   hover:text-maroon   hover:bg-mantle hover:rounded-full rounded-full inline-block text-center py-2.5 px-4 mr-3 no-underline text-lg font-bold uppercase" href="/about/">About</a>
<a class="bg-peach    hover:text-peach    hover:bg-mantle hover:rounded-full rounded-full inline-block text-center py-2.5 px-4 mr-3 no-underline text-lg font-bold uppercase" href="/blog/">Blog</a>
<a class="bg-green    hover:text-green    hover:bg-mantle hover:rounded-full rounded-full inline-block text-center py-2.5 px-4 mr-3 no-underline text-lg font-bold uppercase" href="/tags">Tags</a>
<a class="bg-sapphire hover:text-sapphire hover:bg-mantle hover:rounded-full rounded-full inline-block text-center py-2.5 px-4 mr-3 no-underline text-lg font-bold uppercase" href="/projects/">Projects</a>
</div>