---
import ThemeIcon from "./ThemeIcon.astro";
---
<div class="w-full top-20 left-12 bg-base text-base m-0 mt-4">
    <ThemeIcon />
<a class="bg-mauve  rounded-full inline-block text-center py-2.5 px-4 mr-3 no-underline text-lg font-bold uppercase hover:text-pink hover:bg-mantle hover:rounded-full" href="/">Home</a>
<a class="bg-maroon rounded-full inline-block text-center py-2.5 px-4 mr-3 no-underline text-lg font-bold uppercase hover:text-pink hover:bg-mantle hover:rounded-full" href="/about/">About</a>
<a class="bg-peach  rounded-full inline-block text-center py-2.5 px-4 mr-3 no-underline text-lg font-bold uppercase hover:text-pink hover:bg-mantle hover:rounded-full" href="/blog/">Blog</a>
<a class="bg-teal   rounded-full inline-block text-center py-2.5 px-4 mr-3 no-underline text-lg font-bold uppercase hover:text-pink hover:bg-mantle hover:rounded-full" href="/tags">Tags</a>
</div>