---
---
<div
  class="prose-h1:text-5xl prose-h1:sm:mx-4 prose-h1:my-10 prose-h1:text-peach 
  prose-h2:text-3xl prose-h2:my-5
  prose-a:underline prose-a:text-peach
  prose-li:list-disc prose-li:ml-6
  prose-ul:my-1">
  <slot />
</div>