---
---
<div
  class="prose-h1:text-5xl prose-h1:sm:mx-4 prose-h1:my-10 prose-h1:text-magenta 
  prose-h2:text-3xl prose-h2:my-5 prose-h2:text-magenta
  prose-h3:text-xl prose-h3:my-3 prose-h3:text-magenta
  prose-a:underline prose-a:text-magenta
  prose-li:list-disc prose-li:ml-6
  prose-ul:my-1
  prose-blockquote:pl-4 prose-blockquote:text-lg prose-blockquote:text-subtext0 prose-blockquote:py-1
  prose-pre:p-2">
  <slot />
</div>