---
import BlogPost from "../../components/BlogPost.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import ShortlinksHover from "../../components/ShortLinksHover.astro";
import {
  HoverCard,
  HoverCardContent,
  HoverCardTrigger,
} from "@/components/ui/hover-card";
import { HoverCardComponent } from "../../components/HoverCardComponent.jsx";
import { Button } from "@/components/ui/button";
import "../../styles/global.css";
const pageTitle = "anime js Playground";
const PageColour = "text-sapphire";
import Animation from "../../components/Animation.jsx";

---

<BaseLayout pageTitle={pageTitle} PageColour={PageColour}>

    <h1 class=`text-5xl sm:mx-4 my-10 ${PageColour}`>womp</h1>

    <Animation client:load />

</BaseLayout>