---
import BlogPost from "../../components/BlogPost.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import ShortlinksHover from "../../components/ShortLinksHover.astro";
import {
  HoverCard,
  HoverCardContent,
  HoverCardTrigger,
} from "@/components/ui/hover-card";
import { HoverCardComponent } from "../../components/HoverCardComponent.jsx";
import { Button } from "@/components/ui/button";
import "../../styles/global.css";
const pageTitle = "shadcn Playground";
const PageColour = "text-sapphire";
---

<BaseLayout pageTitle={pageTitle} PageColour={PageColour}>

    <h1>womp</h1>
    
</BaseLayout>