---
import BlogPost from "../../components/BlogPost.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import {
  HoverCard,
  HoverCardContent,
  HoverCardTrigger,
} from "@/components/ui/hover-card";
import { HoverCardComponent } from "../../components/HoverCardComponent.jsx";
import { Button } from "@/components/ui/button";
import "../../styles/global.css";
const pageTitle = "shadcn Playground";
const PageColour = "text-sapphire";
---

<BaseLayout pageTitle={pageTitle} PageColour={PageColour}>
  <Button>button</Button>

  <HoverCardComponent
    Trigger="Hover"
    Title="smth smth"
    Content="This is some content"
    Destination="/"
    client:load
  />
</BaseLayout>
