---
import { Client } from "@notionhq/client";

import ShortLinks from "../../components/ShortLinks.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import "../../styles/global.css";


const pageTitle = "Trade List";
const PageColour = "text-sapphire";

const notion = new Client({
  auth: import.meta.env.NOTION_TOKEN,
});

async function getnotiondata() {
  const databaseId = "19e59c22f5d480e5864aebacc06a32d0";
  const notiondatabaseresponse = await notion.databases.query({
    database_id: databaseId,
    sorts: [
      {
        property: "Item",
        direction: "ascending",
      },
    ],
  }).then(
    (response) => {
      return(response);
    }
  );


};

const getgetnotiondata = getnotiondata();
console.log(getnotiondata());
---

<BaseLayout pageTitle={pageTitle} PageColour={PageColour}>
  <ShortLinks
    PageColour={PageColour}
    LD="https://carnelian-cardigan-f60.notion.site/19e59c22f5d480e5864aebacc06a32d0?v=19e59c22f5d480c2bc1d000c8bbb1073"
    LN="link to notion page"
  />

  <div class="bg-crust p-5 rounded-lg">
    <div> goorn </div>
    {getgetnotiondata}
  </div>
</BaseLayout>
