---

import type { FunctionalComponent } from 'preact';
import { Client } from "@notionhq/client";
import NotionData from "../../components/NotionData.jsx";
import ShortLinks from "../../components/ShortLinks.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import "../../styles/global.css";


const pageTitle = "Trade List";
const PageColour = "text-sapphire";

---

<BaseLayout pageTitle={pageTitle} PageColour={PageColour}>
  <ShortLinks
    PageColour={PageColour}
    LD="https://carnelian-cardigan-f60.notion.site/19e59c22f5d480e5864aebacc06a32d0?v=19e59c22f5d480c2bc1d000c8bbb1073"
    LN="link to notion page"
  />

  <div class="bg-crust p-5 rounded-lg">
    <div> goorn </div>
      <NotionData />
  </div>
</BaseLayout>


