---
import BaseLayout from "./BaseLayout.astro";
const { title, url, description, pubDate, author, tags } = Astro.props;
const PageColour = "peach";

const dateOptions: object = {
	year: "2-digit",
	month: "numeric",
	day: "numeric",
};

const formattedPublishDate = new Date(pubDate).toLocaleDateString("en-US", dateOptions);



---
<BaseLayout pageTitle={title} PageColour={PageColour}>
<p>Published on: {pubDate}</p>
<p>Written by {author}</p>

<slot />
</BaseLayout>
